# ignore ALL .layout files
*.layout

# ignore ALL .bc files (intermediate bytecode files from emscripten compilation)
*.bc

# ignore ALL files in ANY directory named bin, obj
bin/
obj/
debug/
Debug/
release/
Release/
.vs/
.import/
godot-headers/

