CompileFlags:
  Add: [-isystem, /home/carlos/emsdk/upstream/emscripten/cache/sysroot/include/c++/v1, -Isrc, -Itests, -Iinclude, -I/home/carlos/emsdk/upstream/emscripten/system/include, -std=c++17, -g, -Wall, -fno-delayed-template-parsing]
